<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>

    <!--STYLES-->
    <% if (typeof isAdmin !== "undefined" && isAdmin === true) { %>
        <link rel="stylesheet" href="css/admin.css">
        <link rel="stylesheet" href="css/page.css">
    <% } else { %>
        <link rel="stylesheet" href="css/page.css">
    <% } %>

        <style type="text/css"><%= ractiveCss %></style>

    <style>

        html, body {
            margin: 0;
            padding: 0;
        }

        .E_PageSection--placeholder {
            height: 40px;
            width: 100%;

            outline: 3px dashed #5c5c5c;
            outline-offset: -7px;

            transition: height 0.35s;
        }

        .E_sortable-sections [id^="__ph"] {
            height: 40px;

            outline: 3px dashed #5c5c5c;
            outline-offset: -7px;
        }

        .P_PageSection {
            transition: height 0.35s;
        }

        .P_PageSection--placed {
            z-index: 100;

            overflow: hidden;
        }

        .E_PageSection--dragged {
            z-index: 100;

            height: 40px;
            min-height: 40px;
            width: 100%;

            overflow: hidden;
        }

    </style>

    <script>var ractiveData = <%- ractiveData %>;</script>

    <% if (typeof env !== "undefined") { %>
        <script>var env = "<%= env %>";</script>
    <% } %>

</head>

<body>

    <div id="app"><%- ractiveHtml %></div>

    <script src="http://code.jquery.com/jquery-1.12.0.min.js"></script>
<!--    <script src="https://cdn.rawgit.com/visionmedia/page.js/master/page.js"></script>-->
    <script src="http://code.jquery.com/jquery-1.12.0.min.js"></script>

    <% if (typeof isAdmin !== "undefined" && isAdmin === true) { %>
        <script src="js/admin.bundle.js"></script>
    <% } else { %>
        <script src="js/page.bundle.js"></script>
    <% } %>


</body>

</html>
