<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--FONTS-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <!--STYLES-->
    <% if (typeof isAdmin !== "undefined") { %>
        <link rel="stylesheet" href="css/admin.css">
    <% } else { %>
        <link rel="stylesheet" href="css/page.css">
    <% } %>

    <style type="text/css"><%= ractiveCss %></style>

    <script>var ractiveData = <%- ractiveData %>;</script>

    <% if (typeof env !== "undefined") { %>
        <script>var env = "<%= env %>";</script>
    <% } %>

</head>

<body>

    <div id="app"><%- ractiveHtml %></div>

<!--    <script src="https://cdn.rawgit.com/visionmedia/page.js/master/page.js"></script>-->
    <script src="http://code.jquery.com/jquery-1.12.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <% if (typeof isAdmin !== "undefined") { %>
        <script src="js/admin.bundle.js"></script>
    <% } else { %>
        <script src="js/page.bundle.js"></script>
    <% } %>

</body>

</html>
